@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F1ECEC;
}

header {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 40px;
}

.menu a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu a.active,
.menu a:hover {
  color: #8A2BE2;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.curso-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.curso-imagen img {
  height: 60px;
  margin-right: 10px;
}

.curso-info {
  display: flex;
  align-items: center;
  background-color: #7DD7DD;
  border-radius: 20px;
  padding: 10px;
}

.curso-titulo {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

.curso-nombre {
  font-size: 14px;
  color: #666;
}

.pregunta-container h2 {
  color: #2bd6e2;
  font-size: 24px;
  margin-bottom: 10px;
}

.uno-imagen {
  background-color: #dcb9ec;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.uno-imagen img {
  max-width: 200px;
  height: auto;
}

.opciones-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.opcion {
  background-color: #F8D539;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.opcion:hover {
  background-color: #af9306;
}

.enviar-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviar-btn:hover {
  background-color: #3e8e41;
}